{% extends 'base.html' %} {% block body %}
<main>
  <div class="introduction" id="home">
    <div class="introduction__left">
      <p>Hello 👋 I'm</p>
      <section class="animation">
        <div class="first"><div>Gautam Sharma</div></div>
        <div class="second"><div>Web Developer</div></div>
        <div class="third"><div>Backend Developer</div></div>
      </section>
      <p>
        I'm Gautam Sharma, a skilled web developer proficient in frontend and
        backend technologies, crafting dynamic and innovative digital solutions.
      </p>
    </div>
    <div class="introduction__right"><img src="https://pps.whatsapp.net/v/t61.24694-24/315279224_976060350028084_7521637610960699753_n.jpg?ccb=11-4&oh=01_AdQoxOhlCEAdDyobFTp3WJLAvYgtFF6gz3WVGjVlV09H1A&oe=64819FB5" alt="My Photo" /></div>
  </div>
  <div class="about-me" id="about-me">
    <h1 class="title">About Me</h1>
    <div class="flex-box">
      <div>
        <h2>
          Gautam Sharma's portfolio: igniting creativity, inspiring journeys</h2>
        <p>Greetings! I'm Gautam Sharma, a versatile full stack web developer. With expertise in front-end and back-end development, I create dynamic and visually appealing websites. From responsive design to robust functionality, I strive to deliver seamless user experiences. How can I leverage my skills to assist you with your web development needs?</p>
        <button ><a href="#contact-me">Spill the Tea?</a></button>
        <div class="skill">
          <p>Skills</p>
            <div class="flex">
              <div data-skill>
                <div data-id-1 data-skill-dialog>
                  <p>HTML - Hyper Text Markup Language</p>
                </div>
                <img src="https://cdn-icons-png.flaticon.com/512/174/174854.png" alt="html icon" />
                
              </div>
              <div data-skill>
                <div data-skill-dialog data-id-1>
                  <p>CSS - Cascading Style Sheet</p>
                </div>
                <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png " alt="css icon" />
                
              </div>
              <div data-skill>
             <div data-skill-dialog data-id-1>
                  <p>JS - JavaScript</p>
                </div>
                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="js icon" />
                   
              </div>
              <div data-skill>
                <div data-skill-dialog data-id-1>
                  <p>React - React is a framework of JS</p>
                </div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png" alt="react icon" />
              </div>
              <div data-skill>
                <div data-skill-dialog data-id-1>
                  <p>Dj - Django</p>
                </div>
                <img src="https://www.svgrepo.com/show/353657/django-icon.svg" alt="django icon" />
                
              </div>
              <div data-skill>
                <div data-skill-dialog data-id-1>
                  <p>PHP - Hyper Prossersor</p>
                </div>
                <img src="https://skillsdynamix.com/wp-content/uploads/2020/06/php.png" alt="php icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projects" id='project'>
    <h1 class="title">Work</h1>
    <div>
      <a href="https://evil-coder-11212.github.io/Dictionary/" target="_blank">
      <div class="project--card">
        <img src="https://cf-images.ap-southeast-2.prod.boltdns.net/v1/static/963482464001/5c3e809d-8cd1-4b8c-a48f-45b7d1b9a53c/16d20c46-75b2-4986-9b5e-7673b3085b47/1920x1080/match/image.jpg" alt="" />
        <div>
          <h3>Dictionary</h3>
          <p>Using a <span class='bold'>dictionary</span> is efficient method to swiftly retrieve information about any word.</p>
        </div>
      </div></a>
      <a href="https://github.com/Evil-Coder-11212/Quick-Note" target="_blank">
      <div class="project--card">
        <img src="https://allthings.how/content/images/wordpress/2021/10/allthings.how-how-to-take-a-quick-note-on-ipad-note.png" alt="" />
        <div>
          <h3>Quick Note</h3>
          <p>
            Quick note extensions enable efficient and convenient note-taking for users.</p>
        </div>
      </div></a>
      
      
    
    </div>
  </div>
  <div class="" id="loader">
      <div class="loader">
        <h1><span style="color:#61afef;">("</h1>
        <div class="string">
          <h1 class="greeting en">Hello World!</h1>
          <h1 class="greeting de">नमस्ते</h1>
          <h1 class="greeting ds">¡Saludos!</h1>
          <h1 class="greeting it">Ciao Mondo!</h1>  
        </div>
        <h1 class="closure">");</h1>
      </div>
    </div>
</main>
{% endblock body %} {% block title %}Gautam Sharma{% endblock title %}
